/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c; /* Fondo oscuro elegante */
    color: #e0e0e0; /* Color de texto suave */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    padding-top: 20px; 
}

section {
    margin-bottom: 30px; 
    text-align: center; /* Centrar el contenido de la sección */
}

h1 {
    font-family: 'Academy Engraved LET', serif; /* Usando la fuente Academy Engraved LET */
    font-size: 3.5em; /* Aumentar el tamaño de la fuente */
    color: #d4af37; /* Dorado más suave */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    color: #b0c4de; /* Azul suave */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

/* Estilo de la tabla */
table {
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #2a2a2a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

/* Ajustar ancho de las columnas */
.nivel-col {
    width: 10%; /* Más estrecha */
}

.ciegas-col {
    width: 40%; /* Más ancha */
}

table td {
    padding: 18px;
    text-align: center;
    border: 1px solid #444;
    font-size: 1.2em;
}

/* Estilo de las filas */
table tr:nth-child(odd) {
    background-color: #252525; /* Fondo de fila alterno */
}

table tr:nth-child(even) {
    background-color: #2c2c2c; /* Fondo de fila alterno */
}

/* Estilo de las celdas */
table td span:first-child {
    display: block;
    font-size: 0.9em;
    color: #d4af37; /* Dorado suave */
}

table td span:last-child {
    font-size: 1.2em;
    color: #b0c4de; /* Azul suave */
}

/* Estilo de las celdas numéricas de small, big y ante */
table tr:nth-child(4) td {
    color: #b0c4de; /* Azul suave */
}

/* Estilo de las celdas de cabecera */
table tr:first-child td {
    font-size: 1.5em;
    font-weight: bold;
    color: #f0f0f0;
    background-color: #d4af37; /* Dorado más suave */
    border-bottom: 3px solid #d4af37; /* Línea inferior dorada */
}

/* Estilo de las celdas del header de pequeñas/big/ante */
table tr:nth-child(3) td {
    background-color: #3e3e3e; /* Fondo suave para destacar */
    font-weight: bold;
    color: #f0f0f0; /* Color de texto suave */
}
.highlight{
    font-size: xxx-large;
    font-weight: bolder;
}

/* Estilo de botones */
input[type="button"] {
    padding: 10px 15px;
    margin: 5px 0; 
    border: none;
    border-radius: 5px; 
    background-color: #5a5a5a; /* Fondo de botón suave */
    color: #fff; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

input[type="button"]:hover {
    background-color: #666; /* Color más oscuro al pasar el ratón */
    transform: translateY(-2px); 
}

/* Estilo hover 
table tr:hover {
    background-color: #444;
    transition: background-color 0.3s ease;
}*/


/* Estilo para el input de jugadores */
.input-players {
    width: 80%; /* Asegurar que ocupe todo el espacio disponible */
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #2a2a2a; /* Fondo oscuro */
    color: #fff; /* Color del texto */
    font-size: 1.2em;
    text-align: center; /* Alinear el texto al centro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra similar a los botones */
    transition: border-color 0.3s ease, transform 0.2s ease;
  }
  
  .input-players:focus {
    border-color: #d4af37; /* Destacar el borde en dorado cuando esté enfocado */
    outline: none; /* Eliminar el contorno por defecto */
    transform: translateY(-2px); /* Efecto de "levantar" el input cuando está activo */
  }
  
  .input-players::placeholder {
    color: #888; /* Color del texto del placeholder */
    font-style: italic; /* Estilo del texto del placeholder */
  }