/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    padding-top: 10px; 
}

section {
    margin-bottom: 10px; 
    text-align: center;
}

h1 {
    font-family: 'Academy Engraved LET', serif;
    font-size: 3.4em;
    color: #007aff;
    margin-bottom: 0; 
    padding: 0;
}

h3 {
    font-size: 1.2em;
}

/* Estilo de las tarjetas */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 200px; 
    text-align: center;
}

.card-next-level {
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 500px; 
    text-align: center;
}

.nivel-actual {
    background-color: #ffe3b3;
    color: #ff8c00;
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px;
}

.siguiente-nivel {
    text-align: center;
    align-items: center;
    background-color: #cce7ff;
    color: #0051a8;
    font-size: 2.3em;
    font-weight: bold;
    padding: 10px;
    width: 500px; 
    min-width: 500px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    box-sizing: border-box; 
}

.reloj {
    background-color: #d4edda;
    color: #155724;
    font-size: 3.8em;
    font-weight: bolder;
    padding: 10px;
}

.jugadores-premios {
    font-size: 1.8em;
    font-weight: bolder;
    padding: 5px;
    align-items: center;
    text-align: center;
}

/* Estilo de la sección de ciegas y recompras */
.table-container {
    background-color: #cce7ff; 
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; 
    color: #0051a8; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.table-container h3 {
    font-size: 2.5em; 
    text-align: center;
   margin: 0;
    color: #0051a8; 
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0; 
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); 
}

.col {
    flex: 1;
    text-align: center;
    font-size: 4em; 
    font-weight: bold; 
    padding: 5px 0; 
}

/* Elimina la línea inferior en el último row */
.row:last-child {
    border-bottom: none; 
}

/* Estilo de los inputs y botones */
.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.input-players {
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}




/* Botones */
input[type="button"] {
    margin: 4px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 122, 255, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

input[type="button"]:hover {
    background-color: #0051a8;
    transform: translateY(-2px); 
}

/* Estilo de enlaces */
.github-link, .social-link {
    margin: 10px;
    text-decoration: none;
    color: #007aff;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}